.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 60px;
}

.galleryItem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: calc((100% - 48px) / 4);
    object-fit: cover;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.galleryItem:hover,
.galleryItem:focus {
    transform: scale(1.03);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}