.btn {
    display: block;
    margin: 0 auto;
    padding: 8px 32px;
    margin-bottom: 8px;
    text-align: center;
    background-color: #252caf;
    color: white;
    border: none;
    border-radius: 4px;
}